<h1>
    The Whole Prime Number Checker
</h1>
<div class="formDiv">
    <form name="primeform"  >
    <label for="num">
        Enter a number: 
    </label>
    <input type="number" name="num" class="inp" required=true onfocus="this.value=''"/>
    <button id="btn" type = "button" onclick="primeNumberChecker()" value="Check" >Check</button>
</form>
</div>
<div class="resultDiv">
    <ol id="attempts"></ol>
</div>


<footer>
    <label>
        Name:
        <a> Venugopal Balaji</a>
    </label>
     <label>
        CWID:
        <a> 10446195</a>
    </label>
</footer>
