<h1>People Finder</h1> 
<main class="homePage">
  <p>This page searches somethiung </p>
  <form action="/search" method="POST" class="new-post-form">
    <label>
      Enter name
        <input type="text" name="personName" placeholder="Enter a name" />
    </label>
    <button type="submit" class="btn">Search Name</button>
  </form>
</main>
 